@font-face {
	font-family: 山河脑海唯有你-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/山河脑海唯有你-sbix.woff2);
}

@font-face {
	font-family: 情之所钟唯有你-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/情之所钟唯有你.ttf);
}

@font-face {
	font-family: 对你何止心动-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/对你何止心动-sbix.woff2);
}

@font-face {
	font-family: 时光和你都很美-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/时光和你都很美-sbix.woff2);
}

@font-face {
	font-family: 雅士黑中粗-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/雅士黑中粗.ttf);
}

@font-face {
	font-family: 你是我收藏的诗篇-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/你是我收藏的诗篇.woff2);
}

@font-face {
	font-family: 潇湘行书-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/潇湘行书.ttf);
}

@font-face {
	font-family: 璀璨星辰-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/璀璨星辰.ttf);
}

@font-face {
	font-family: 欧蝶正楷-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/欧蝶正楷.ttf);
}

@font-face {
	font-family: 森屿麋鹿-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/森屿麋鹿.ttf);
}

@font-face {
	font-family: 粗楷体两万字库-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/粗楷体两万字库.woff2);
}

@font-face {
	font-family: 日系可爱奶酪体-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/日系可爱奶酪体.woff2);
}

@font-face {
	font-family: 撒娇懒懒-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/撒娇懒懒.ttf);
}

@font-face {
	font-family: 一世执念两世相思-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/一世执念两世相思-sbix.woff2);
}

@font-face {
	font-family: 剑意无双-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/剑意无双.ttf);
}

@font-face {
	font-family: 世界之大-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/世界之大.ttf);
}

@font-face {
	font-family: 肥肥胖胖充满希望-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/肥肥胖胖充满希望.woff2);
}

@font-face {
	font-family: 撒野爱你超大字库-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/撒野爱你超大字库.woff2);
}

@font-face {
	font-family: 星际奶酪体-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/星际奶酪体.ttf);
}

@font-face {
	font-family: 你的银河最温柔-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/你的银河最温柔.woff2);
}

@font-face {
	font-family: 化身孤岛的蓝鲸-subset;
	src: url(https://docs-personalized-fonts-1251316161.file.myqcloud.com/subset/化身孤岛的蓝鲸-sbix.woff2);
}

