<!DOCTYPE>
<html lang="en"  html style ="height:100%">
  <head>
    <title>index</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="baseLayout.js"></script>
    <script src="menu.js"></script>
    <script src="addMinusComponent.js"></script>
    <script src="bookComponent.js"></script>
    <script src="data.js"></script>
    <script src="loginComponent.js"></script>
    <script src = "goodCart.js"></script>
  </head>
  <body>
    <div id="app">
      <base-layout>
        <template #up >
          <p style = "font-size: 40px; color: blue;  margin: 0; text-align: center;">欢迎来到贝斯特购物商城</p>
        </template>
        <template #down-left>
          <menu-component :menus="menus" class = "menu_ul_style" v-model = "current_menu"></menu-component>
        </template>
          <template #down-main v-if="current_menu =='首页'">
            <div>
              <book-component  v-for="book in books" image-style = "image_style" book-style = "book_style" :book-info= "book" >
                
              </book-component >
            </div>
          </template>
          <template #down-main v-if="current_menu =='购物车'">
            <good-cart v-model = "books"></good-cart>
          </template>
          <template #down-main v-if="current_menu !='首页'&&current_menu !='购物车'">功能开发中</template>
          <template #down-right v-if="user!=Null">尊敬的{{user}}您好，欢迎来到本商城！</template>
          <template #down-right v-if="user==''">
            <login-component @click="newValue=>user=newValue"></login-component>
          </template>
      </base-layout>
    </div>
    <script>
      const vm = Vue.createApp({
        data() {
          return {
            menus: menuList,
            books: books_info,
            current_menu:'首页',
            user:''
          };
        },
        components: {
          baseLayout,
          menuComponent,
          bookComponent,
          loginComponent,
          goodCart
        },
        methods: {

        },
      });
      vm.mount("#app");
    </script>
  </body>
</html>
