.menu_ul_style{
list-style-type:none;
}
.book_style{
	width: 200px;
    height:270px;
    padding:5px;
    border:1px solid black;
    margin:10px;
    display:inline-block;
}
.image_style{
	width:200px;
    height:200px;
}
